<?xml version="1.0" encoding="utf-8"?>
<robot
  name="humanoid">
  <link name="base_footprint"/>
  
  <joint name="base_footprint_to_base" type="fixed">
      <parent link="base_footprint"/>
      <child link="base_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.000399337915125807 -0.0017678712696631 0.0459744632351813"
        rpy="0 0 0" />
      <mass
        value="1.36479420298455" />
      <inertia
        ixx="0.00196398817718083"
        ixy="2.50747867096024E-06"
        ixz="-2.69353040148719E-07"
        iyy="0.00419273649981808"
        iyz="5.46244081081959E-05"
        izz="0.00513494235452272" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.498039215686275 0.498039215686275 0.498039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_hip_yaw_link">
    <inertial>
      <origin
        xyz="-0.0346180793231115 4.76665019955025E-09 0.0469748416515762"
        rpy="0 0 0" />
      <mass
        value="0.141006445664123" />
      <inertia
        ixx="6.68174131222507E-05"
        ixy="6.55942921284973E-12"
        ixz="3.45775184250981E-06"
        iyy="6.07695896693092E-05"
        iyz="1.04480867657274E-11"
        izz="4.8894632857566E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/left_hip_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/left_hip_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.0875 0 0"
      rpy="3.1416 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="left_hip_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_hip_roll_link">
    <inertial>
      <origin
        xyz="5.55111512312578E-17 -0.00377393469759744 0.0406453016145312"
        rpy="0 0 0" />
      <mass
        value="0.314265384083357" />
      <inertia
        ixx="0.00012680446434669"
        ixy="6.68169196890132E-21"
        ixz="-3.19258543578401E-20"
        iyy="0.000127839063820709"
        iyz="-3.74635946980691E-21"
        izz="0.000125998341225216" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/left_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/left_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_roll_joint"
    type="revolute">
    <origin
      xyz="-0.014517 -0.0037739 0.051862"
      rpy="3.14 -1.5708 0" />
    <parent
      link="left_hip_yaw_link" />
    <child
      link="left_hip_roll_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_hip_pitch_link">
    <inertial>
      <origin
        xyz="0.0479870390517596 0.00505991199135109 0.0171920717764435"
        rpy="0 0 0" />
      <mass
        value="0.184010633558111" />
      <inertia
        ixx="2.73473014646888E-05"
        ixy="6.09131129120855E-07"
        ixz="6.26955574937112E-09"
        iyy="0.000256422988909173"
        iyz="6.43774461647037E-21"
        izz="0.000280654836140823" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/left_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/left_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0.013726 0.044017"
      rpy="1.5708 0 0" />
    <parent
      link="left_hip_roll_link" />
    <child
      link="left_hip_pitch_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_knee_link">
    <inertial>
      <origin
        xyz="0.0721749183117968 -0.00240215295113531 0.00157209782384359"
        rpy="0 0 0" />
      <mass
        value="0.129468515543408" />
      <inertia
        ixx="1.60197715682468E-05"
        ixy="-2.53410724620411E-06"
        ixz="-2.63597041804843E-07"
        iyy="6.04925057894266E-05"
        iyz="-5.77087558417288E-09"
        izz="6.96947217153468E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/left_knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/left_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_knee_joint"
    type="revolute">
    <origin
      xyz="0.15 0 0.0165"
      rpy="-3.1416 0 0" />
    <parent
      link="left_hip_pitch_link" />
    <child
      link="left_knee_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_ankle_link">
    <inertial>
      <origin
        xyz="-0.00911085067660343 0.0133193242897698 0.00659262849062113"
        rpy="0 0 0" />
      <mass
        value="0.0921064167654803" />
      <inertia
        ixx="9.05097170806094E-06"
        ixy="1.81066211035527E-08"
        ixz="3.56823484883401E-09"
        iyy="4.84638222864542E-05"
        iyz="6.57174766424847E-09"
        izz="4.41364603360046E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/left_ankle_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/left_ankle_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_ankle_joint"
    type="revolute">
    <origin
      xyz="0.15 -0.0091051 0"
      rpy="0 0 -1.5708" />
    <parent
      link="left_knee_link" />
    <child
      link="left_ankle_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_hip_yaw_link">
    <inertial>
      <origin
        xyz="-0.0346180793231114 4.76665026893919E-09 0.0469748416515758"
        rpy="0 0 0" />
      <mass
        value="0.141006445664123" />
      <inertia
        ixx="6.68174131222506E-05"
        ixy="6.55942921717834E-12"
        ixz="3.45775184250981E-06"
        iyy="6.07695896693092E-05"
        iyz="1.04480867654776E-11"
        izz="4.88946328575659E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/right_hip_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/right_hip_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_yaw_joint"
    type="revolute">
    <origin
      xyz="0.0875 0 0"
      rpy="3.1416 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="right_hip_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_hip_roll_link">
    <inertial>
      <origin
        xyz="-1.73472347597681E-16 -9.71445146547012E-17 0.0411278150242783"
        rpy="0 0 0" />
      <mass
        value="0.314265384083356" />
      <inertia
        ixx="0.00012680446434669"
        ixy="2.80856790361445E-21"
        ixz="-3.24107993503546E-20"
        iyy="0.000127839063820709"
        iyz="-5.42793354038248E-22"
        izz="0.000125998341225216" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/right_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/right_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_roll_joint"
    type="revolute">
    <origin
      xyz="-0.015 0 0.051862"
      rpy="3.14 -1.5708 0" />
    <parent
      link="right_hip_yaw_link" />
    <child
      link="right_hip_roll_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_hip_pitch_link">
    <inertial>
      <origin
        xyz="0.0498754687365082 0.00525903425843486 0.0177702475718518"
        rpy="0 0 0" />
      <mass
        value="0.177043458080398" />
      <inertia
        ixx="2.68105314964815E-05"
        ixy="6.0913112912134E-07"
        ixz="6.26955574937131E-09"
        iyy="0.000255886218940966"
        iyz="2.6996949570802E-20"
        izz="0.000279621924148731" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/right_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/right_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0.0175 0.0445"
      rpy="1.5708 0 0" />
    <parent
      link="right_hip_roll_link" />
    <child
      link="right_hip_pitch_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_knee_link">
    <inertial>
      <origin
        xyz="0.0721749182078401 -0.0024021529320833 0.0015720978287662"
        rpy="0 0 0" />
      <mass
        value="0.12946851518188" />
      <inertia
        ixx="1.60197715353982E-05"
        ixy="-2.53410721720736E-06"
        ixz="-2.6359704121422E-07"
        iyy="6.04925057637204E-05"
        iyz="-5.77087489958276E-09"
        izz="6.96947216567525E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/right_knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/right_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_knee_joint"
    type="revolute">
    <origin
      xyz="0.15 0 0.0165"
      rpy="3.1416 0 0" />
    <parent
      link="right_hip_pitch_link" />
    <child
      link="right_knee_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_ankle_link">
    <inertial>
      <origin
        xyz="-5.77642003439169E-06 0.0133193242897696 0.00659262849062146"
        rpy="0 0 0" />
      <mass
        value="0.0921064167654802" />
      <inertia
        ixx="9.05097170806093E-06"
        ixy="1.81066211037571E-08"
        ixz="3.5682348487812E-09"
        iyy="4.84638222864542E-05"
        iyz="6.57174766424946E-09"
        izz="4.41364603360046E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/right_ankle_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://humanoid_description/meshes/right_ankle_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_ankle_joint"
    type="revolute">
    <origin
      xyz="0.15 0 0"
      rpy="0 0 -1.5708" />
    <parent
      link="right_knee_link" />
    <child
      link="right_ankle_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>