<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="urdf_export.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00396004327621124 0.000573317049969988 0.0472328130260692"
        rpy="0 0 0" />
      <mass
        value="2.15426608175589" />
      <inertia
        ixx="0.00461662508531444"
        ixy="-5.56130014196597E-06"
        ixz="5.46886846359444E-05"
        iyy="0.00248593077165917"
        iyz="3.51718739258327E-07"
        izz="0.00584350245284634" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_hip_yaw_link">
    <inertial>
      <origin
        xyz="-0.0379459369493916 -2.0697873970299E-09 -0.0497400966956859"
        rpy="0 0 0" />
      <mass
        value="0.324733067231361" />
      <inertia
        ixx="0.000141433387306245"
        ixy="-6.55942920517191E-12"
        ixz="-3.45775184250981E-06"
        iyy="0.000129081444150778"
        iyz="1.04480867648368E-11"
        izz="0.000117206487339035" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_yaw_joint"
    type="revolute">
    <origin
      xyz="0 0.0875 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_hip_yaw_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_hip_roll_link">
    <inertial>
      <origin
        xyz="0.0430696676760519 5.41233724504764E-16 -6.93889390390723E-17"
        rpy="0 0 0" />
      <mass
        value="0.74091942750061" />
      <inertia
        ixx="0.000309701794950534"
        ixy="-3.35544973167938E-20"
        ixz="3.29815618257398E-20"
        iyy="0.000301113937203541"
        iyz="-1.99737372434251E-20"
        izz="0.000310507918072008" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_roll_joint"
    type="revolute">
    <origin
      xyz="-0.015 0 -0.051862"
      rpy="0 0 0" />
    <parent
      link="left_hip_yaw_link" />
    <child
      link="left_hip_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.5"
      upper="0.5"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_hip_pitch_link">
    <inertial>
      <origin
        xyz="1.45022882591661E-15 -0.0162027829774505 -0.0655248889858773"
        rpy="0 0 0" />
      <mass
        value="0.112567324966773" />
      <inertia
        ixx="0.000210388078470849"
        ixy="8.40119454703848E-20"
        ixz="-5.82016500993213E-21"
        iyy="0.000231096595710545"
        iyz="6.33002155236439E-09"
        izz="2.32686935344875E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0.0445 0.0175 0"
      rpy="0 0 0" />
    <parent
      link="left_hip_roll_link" />
    <child
      link="left_hip_pitch_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_knee_link">
    <inertial>
      <origin
        xyz="-6.78779161572551E-07 0.00759619897084259 -0.0679926884410519"
        rpy="0 0 0" />
      <mass
        value="0.078976293467267" />
      <inertia
        ixx="5.30823518101843E-05"
        ixy="9.98135665565878E-11"
        ixz="1.01755600269915E-09"
        iyy="5.5499813686131E-05"
        iyz="2.62467050718233E-07"
        izz="7.09860002947757E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_knee_joint"
    type="revolute">
    <origin
      xyz="0 -0.0215 -0.15"
      rpy="0 0 0" />
    <parent
      link="left_hip_pitch_link" />
    <child
      link="left_knee_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_ankle_link">
    <inertial>
      <origin
        xyz="1.17820172298548E-05 -0.0229686984077529 -0.0191734996578894"
        rpy="0 0 0" />
      <mass
        value="0.0639911424836016" />
      <inertia
        ixx="4.85593894513164E-06"
        ixy="3.19066151619442E-17"
        ixz="-1.15897865067753E-08"
        iyy="4.34740241037811E-05"
        iyz="1.72241265577842E-17"
        izz="4.42547958145855E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_ankle_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_ankle_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_ankle_joint"
    type="revolute">
    <origin
      xyz="0 0.033 -0.15"
      rpy="0 0 0" />
    <parent
      link="left_knee_link" />
    <child
      link="left_ankle_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_hip_yaw_link">
    <inertial>
      <origin
        xyz="-0.0379459369493916 -2.06978742478547E-09 -0.0497400966956856"
        rpy="0 0 0" />
      <mass
        value="0.324733067231361" />
      <inertia
        ixx="0.000141433387306245"
        ixy="-6.55942922069556E-12"
        ixz="-3.45775184250981E-06"
        iyy="0.000129081444150778"
        iyz="1.0448086769837E-11"
        izz="0.000117206487339035" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_yaw_joint"
    type="revolute">
    <origin
      xyz="0 -0.0875 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_hip_yaw_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_hip_roll_link">
    <inertial>
      <origin
        xyz="0.0430696676760518 -9.71445146547012E-17 1.80411241501588E-16"
        rpy="0 0 0" />
      <mass
        value="0.74091942750061" />
      <inertia
        ixx="0.000309701794950533"
        ixy="-2.36725476999569E-20"
        ixz="3.29741497135369E-20"
        iyy="0.000301113937203541"
        iyz="-6.91415123914247E-21"
        izz="0.000310507918072007" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_roll_joint"
    type="revolute">
    <origin
      xyz="-0.015 0 -0.051862"
      rpy="0 0 0" />
    <parent
      link="right_hip_yaw_link" />
    <child
      link="right_hip_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.5"
      upper="0.5"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_hip_pitch_link">
    <inertial>
      <origin
        xyz="-1.56125112837913E-16 -0.0162027829774497 -0.0655248889858778"
        rpy="0 0 0" />
      <mass
        value="0.112567324966773" />
      <inertia
        ixx="0.000210388078470848"
        ixy="7.6582344840989E-20"
        ixz="2.76046986469201E-19"
        iyy="0.000231096595710545"
        iyz="6.33002155236165E-09"
        izz="2.32686935344875E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0.0445 0.0175 0"
      rpy="0 0 0" />
    <parent
      link="right_hip_roll_link" />
    <child
      link="right_hip_pitch_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_knee_link">
    <inertial>
      <origin
        xyz="-6.78779161263771E-07 0.00759619897084236 -0.0679926884410518"
        rpy="0 0 0" />
      <mass
        value="0.078976293467267" />
      <inertia
        ixx="5.30823518101843E-05"
        ixy="9.98135665566707E-11"
        ixz="1.01755600270413E-09"
        iyy="5.5499813686131E-05"
        iyz="2.62467050718234E-07"
        izz="7.09860002947758E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_knee_joint"
    type="revolute">
    <origin
      xyz="0 -0.0215 -0.15"
      rpy="0 0 0" />
    <parent
      link="right_hip_pitch_link" />
    <child
      link="right_knee_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_ankle_link">
    <inertial>
      <origin
        xyz="1.17820172297681E-05 -0.0229686984077519 -0.0191734996578892"
        rpy="0 0 0" />
      <mass
        value="0.0639911424836016" />
      <inertia
        ixx="4.85593894513163E-06"
        ixy="3.19066191500949E-17"
        ixz="-1.15897865067804E-08"
        iyy="4.3474024103781E-05"
        iyz="1.72243547413853E-17"
        izz="4.42547958145855E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_ankle_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_ankle_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_ankle_joint"
    type="revolute">
    <origin
      xyz="0 0.033 -0.15"
      rpy="0 0 0" />
    <parent
      link="right_knee_link" />
    <child
      link="right_ankle_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>

  <transmission name="left_hip_pitch_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_hip_pitch">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="left_hip_pitch_motor">
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="left_knee_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_knee">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="left_knee_motor">
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="left_hip_yaw_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_hip_yaw">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="left_hip_yaw_motor">
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="left_pitch_roll_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_pitch_roll">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="left_pitch_roll_motor">
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="left_ankle_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_ankle">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="left_ankle_motor">
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="right_hip_pitch_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_hip_pitch">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="right_hip_pitch_motor">
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="right_knee_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_knee">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="right_knee_motor">
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="right_hip_yaw_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_hip_yaw">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="right_hip_yaw_motor">
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="right_pitch_roll_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_pitch_roll">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="right_pitch_roll_motor">
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="right_ankle_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_ankle">
    <hardwareInterface>EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="right_ankle_motor">
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

</robot>